<div class="toolbar" role="banner">
    <app-toolbar></app-toolbar>
</div>
    
  <div class="content" role="main">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Skyjo</mat-card-title>
          <mat-card-subtitle>Table de scores du jeu Skyjo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/skyjo">GO !</button>
        </mat-card-actions>
      </mat-card>    <mat-card>
        <mat-card-header>
          <mat-card-title>Paleo</mat-card-title>
          <mat-card-subtitle>Scores du jeu Paleo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/paleo">GO !</button>
        </mat-card-actions>
      </mat-card>
  </div>