.spacer {
    flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #7f1734;
  color: white;
  font-weight: 600;
}

.toolbar-card {
  display: flex;
  align-items: center;
  background-color: #7f1734;
  color: white;
  font-weight: 600;
  margin: 20px;
}

.newGameButton{
  background-color: white;
  color: #7f1734;
}