<mat-accordion>
    <mat-expansion-panel *ngFor="let game of data">
      <mat-expansion-panel-header>
        <mat-panel-title class="game">
          <div class="space">{{data.length - data.indexOf(game)}}</div>
          <h4 class="space">{{getDay(game.date)}}</h4>
        </mat-panel-title>
        <mat-panel-description class="players">
            <div *ngFor="let player of game.players" class="space">
                {{player}}
            </div>
        </mat-panel-description>
        <mat-panel-description class="date">
        <h4 class="winner">Gagnante : {{game.winner}}</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="game.rounds">
      <ng-container matColumnDef="round_id">
        <th mat-header-cell *matHeaderCellDef>
            Rounds
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.round_id}}
        </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container *ngFor="let in of counter(game.nbPlayers); let i = index" [matColumnDef]="displayedColumns(game.nbPlayers)[i+1]">
        <th mat-header-cell *matHeaderCellDef>
            {{game.players[i]}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.scores[i]}}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{game.total[i]}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns(game.nbPlayers)"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns(game.nbPlayers);"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns(game.nbPlayers); sticky: true"></tr>
    </table>
    </mat-expansion-panel>
  </mat-accordion>