<h1 mat-dialog-title>Scores</h1>
<div mat-dialog-content>

    <mat-card>
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item>
                        {{data.player1.name}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        {{data.player2.name}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player3"></mat-divider>
                    <mat-list-item *ngIf="data.player3">
                        {{data.player3.name}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player4"></mat-divider>
                    <mat-list-item *ngIf="data.player4">
                        {{data.player4.name}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player5"></mat-divider>
                    <mat-list-item *ngIf="data.player5">
                        {{data.player5.name}}
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item>
                        {{data.player1.score}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        {{data.player2.score}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player3"></mat-divider>
                    <mat-list-item *ngIf="data.player3">
                        {{data.player3.score}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player4"></mat-divider>
                    <mat-list-item *ngIf="data.player4">
                        {{data.player4.score}}
                    </mat-list-item>
                    <mat-divider *ngIf="data.player5"></mat-divider>
                    <mat-list-item *ngIf="data.player5">
                        {{data.player5.score}}
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

<!-- 
    <mat-card>
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <mat-icon>looks_one</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                {{data.player1.name}}
            </mat-grid-tile>
            <mat-grid-tile>
                {{data.player1.score}}
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon>looks_one</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                {{data.player2.name}}
            </mat-grid-tile>
            <mat-grid-tile>
                {{data.player2.score}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player3">
                <mat-icon>looks_3e</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player3">
                {{data.player3.name}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player3">
                {{data.player3.score}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player4">
            <mat-divider></mat-divider>
                <mat-icon>looks_4</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player4">
            <mat-divider></mat-divider>
                {{data.player4.name}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf="data.player4">
            <mat-divider></mat-divider>
                {{data.player4.score}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card> -->
<!-- 
  <mat-card>
      <mat-icon>person</mat-icon>
      {{data.player1.name}}: {{data.player1.score}}
  </mat-card>
  <mat-card>
      {{data.player2.name}}: {{data.player2.score}}
  </mat-card>
  <mat-card *ngIf="data.player3">
      {{data.player3.name}}: {{data.player3.score}}
  </mat-card>
  <mat-card *ngIf="data.player4">
      {{data.player4.name}}: {{data.player4.score}}
  </mat-card>
  <mat-card *ngIf="data.player5">
      {{data.player5.name}}: {{data.player5.score}}
  </mat-card> -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Valider</button>
</div>