.content {
  /* display: flex; */
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1260px;
  flex-direction: column;
  align-items: center;
  align-items: center;
  text-align: center;
}


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #7f1734;
  color: white;
  font-weight: 600;
}